.doctor-info{
  width: 700px;
  transform: translate(40%,3%);
}

.card-header{
  background-color: #42B0EF;
  color: #FFF;
  text-transform: capitalize;
  height: 60px;
  text-align: center;
}

.doctor-info .card-header h1 {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: normal;
}


/* Border */
.mat-form-field-appearance-fill .mat-form-field-fill {
  color: rgb(41, 12, 94);
}
/* Font color */
input.mat-input-element {
  color: rgb(12, 1, 1);
  margin-top: 10px;
  margin-left: 6px;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input_group {
  background: #ffffff;
  border: 0.5px solid #305a72;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 25px;
  margin: 10px 0;
  margin-left: 6px;
  width: 30%;
}
.select_group {
  background: #ffffff;
  border: 0.5px solid #305a72;
  box-sizing: border-box;
  outline: 0px;
  border-radius: 50px;
  width: 20%;
  padding: 17px;
  margin: 10px 0;
  margin-left: 6px;
}
.register_btn {
  background: #FFF;
  border-radius: 50px;
  font-style: 25px;
  font-weight: 600;
  font-style: normal;
  color: #42B0EF;
  border:2px solid #42B0EF;
  padding: 10px 40px;
  margin-left: 560px;
}

.register_btn:hover:enabled,
.register_btn:focus:enabled {
  background-color: #42B0EF;
  color: #FFF;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 0.5px solid #305a72;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  margin: 10px 0;
}
textarea:focus,
input:focus {
  outline: none;
}
