<div class="container grid-container">

    <form>
        <input type="text" placeholder="FirstName"
            class="input_group mt-3"
            name="firstNameInput" id="firstNameInput"
            required
            formControlName="firstNameInput" />
        <br />

        <input type="text" placeholder="LastName"
            class="input_group mt-3"
            name="lastNameInput" id="lastNameInput"
            required
            formControlName="lastNameInput" />
        <br />
        <input type="text" placeholder="Phone Number"
            class="input_group"
            name="phoneNumberInput" id="phoneNumberInput"
            required
            formControlName="phoneNumberInput" />
        <br />

        <input type="text" placeholder="Home Number"
            class="input_group"
            name="homeNumberInput" id="homeNumberInput"
            required
            formControlName="homeNumberInput" />
        <br />

        <input type="text" placeholder="Location"
            class="input_group"
            name="locationInput" id="locationInput"
            required
            formControlName="locationInput" />
        <br />

        <select class="select_group"
            name="selectCityInput">
            <option>
                asdasas
            </option>
        </select>
        <br />

        <select class="select_group"
            name="selectCityInput">
            <option>
                asdasas
            </option>
        </select>

        <br />

        <button class="register_btn" type="submit">
            Apply
        </button>

    </form>
</div>
