// start search section
.search
{
  margin: 40px 0;
  padding: 40px 0;
}

.search-form
{
  background: #FFFFFF;
  border: 1.5px solid #305A72;
  box-sizing: border-box;
  border-radius:50px;
  padding:25px;
  margin: 5px 10px 0 30px;
  width: 80%;
}

.search-form:hover,
.search-form:focus
{
border: 1.5px solid #42B0EF;
}

.search-filter
{
  background: rgba(48, 90, 114, 0.87);
  border-radius: 50px;
  padding: 15px 30px;
  border: none;
  color: #FFFFFF;
  letter-spacing: 1.5px;
}

.search-filter:hover,
.search-filter:focus
{
  background: rgba(92, 138, 165, 0.87);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.hidden
{
  margin: 0;
  padding: 0;
}

// end search section

// start search section

.posts
{
  margin: 40px 0;
}
.posts .post-card  {
  background-color: #FFF;
  box-shadow: 2px 2px 20px rgba(133, 124, 124, 0.5) ;
  padding-bottom: 20px;
}
.posts .post-deploy
{
  font-weight: 600;
  font-style: normal;
}
.posts .post-deploy > h2
{
    font-size:40px;
    color: #000;
}
@media (max-width:992px)
{
  .posts .post-deploy > h2
  {
    font-size: 30px;
  }
}

@media (max-width:768px)
{
  .posts .post-deploy > h2
  {
    font-size: 25px;
  }
}

.posts .post-deploy > hr
{
  display: inline-block;
  height:2px;
  background-color:#68A9CD;
  opacity: 1;
  margin-top: 0;
}

@media (max-width:768px)
{
    .posts .post-deploy > hr
  {
    width:68px;
  }
}
@media (min-width:768px) and (max-width:992px)
{
  .posts .post-deploy > hr
  {
    width: 83px;
  }
}


@media (min-width:992px) and (max-width:1200px)
{
  .posts .post-deploy > hr
  {
    width: 106px;
  }
}

@media (min-width:1200px)
{
    .posts .post-deploy > hr
  {
    width:110px;
  }
}


.posts  .post-content
{
  display: flex;
  margin:auto;
  padding:20px;
}

.posts  .post-content >img
{
  width:80px;
  height:80px;
  border:1px solid rgba(181, 162, 235, 0.71);
  box-sizing: border-box;
}

.posts   .post-content  .post-content-info
{
  margin-left:-15px;
  margin-top:-50px;
  line-height:24px;
  padding:10px;
}

@media screen and(max-width:768px){
  .posts  .post-content  .post-content-info{
    margin-left:-33px;
  }
}
.posts  .post-content .post-content-info > span
{
  font-size: 18px;
  color:rgba(0, 0, 0, 0.46);
  letter-spacing:.5px;
  font-weight: 600;
  margin-left:125px
}

.posts  .post-content .post-content-info > p
{
  margin:5px 0;
  line-height:1.6;
  font-size:16px;
  word-break: break-all;
  word-spacing: normal;
  margin-left: 125px;
  font-style: normal;
}
.posts  .post-content .post-content-info > i
{
  padding-top: 5px;
  transition:.3s;
  margin-left: 125px;
}
.posts  .post-content .post-content-info > i:hover
{
  color: rgb(252, 0, 0);
  cursor: pointer;
}
.posts  .post-content .post-content-info > label
{
  padding-top: 5px;
  margin-left: 4px;
  color: #000;
  font-weight: 500;
}
.posts  .post-content .post-content-info > a
{
  padding-top:10px;
  letter-spacing:1.4px;
  color: #000;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight:550;
}
.posts .post-content .post-content-info  a:hover
{
  padding-top: 5px;
  text-decoration: none;
}

.posts .post-content .post-content-info >img
{
  display: block;
  max-width: 80%;
  border-radius: 100px;
  border: solid 2px rgba(0,0,0,.46);
  box-shadow:2px 2px rgba(0, 0, 0,.2);
  margin: 15px auto 10px 122px;
}

@media screen and (min-width:768px) and (max-width:1200px)
{
  .posts .post-content .post-content-info >img{
    margin-left: 125px;
  }
}

.posts .hideComment{
  display: none;
}
.posts .addComment{
  margin-left:75px;
}
.posts .hideComment{
    display: none;
}

.posts .addComment .form-content textarea{
  width: 60%;
  height: 50px;
  outline: none;
  border: 2px solid #68A9CD;
  padding: 12px 24px;
  color: #000;
  font-style: normal;
  font-size: 14px;
  border-radius: 50px;
  letter-spacing:1.6px;
  word-spacing: 2px;
  margin-right:15px;
  box-shadow:1px 1px rgba(181, 162, 235, 0.71);
  overflow-y: hidden;
}
.posts .addComment .form-content textarea:hover,
.posts .addComment .form-content textarea:focus{
  border: 2px solid #305A72;
  background-color: #e3e3e3;
}

.posts .addComment .form-content button {
  background-color: rgba(48, 90, 114, 0.87);
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size:12px;
  font-style:normal;
  letter-spacing:1px;
  overflow:hidden;
  text-transform:uppercase;
  font-weight:bold;
}
.posts .addComment .form-content button:hover,
.posts .addComment .form-content button:focus{
  background-color: rgba(92, 138, 165, 0.87);
}

@media screen and (max-width:768px){
  .posts .addComment .form-content {
    display: flex;
    flex-direction: row;
    justify-content:left;
    flex-wrap: wrap;
    width: 100%;
  }
  .posts .addComment .form-content textarea{
    width: 100%;
    padding:12px 30px;
  }
  ::placeholder{
    font-size:12px;
    letter-spacing: 1px;
  }
  .posts .addComment .form-content button {
      margin-top:10px;
      margin-left:5px;
      padding:12px 15px;
      font-size: 11px;
    }
}

// start pageination

.pagination .page-item .page-link
{
  color: rgb(2, 0, 94);
  font-size: 15px;
  font-weight: 600;
  margin:3px;
}
.pagination .page-item.active .page-link
{
  border-radius: 50px;
  color: #ffffff;
  background-color: rgb(2, 0, 94);
  font-size: 18px;
}

.pagination .page-item .page-link:hover
{
  background-color: #42B0EF;
  color: #FFFFFF;
  border-radius: 20px;
}
 .commentsArea{
  margin:0 0 0 100px;
}

