<section class="posts">
<div class="row hidden">
    <div class="col">
      <div class="container">
        <app-user-card [user]="post.user"></app-user-card> 
          <div class="post-content">
             <div class="post-content-info">
              <span>Dec 16,2020</span>
              <p>{{post.postText}}</p>
            <!--  <img src="../../../assets/images/US_22641_SOCIAL MEDIA IMAGE_Coronavirus Force Majeure_Masthead_1920x1080px.jpg" alt="img-post" class="rounded-3"/>
            -->  <i class="fa fa-heart"></i>
              <label>19</label>
            </div>
          </div>
          <ul *ngIf="this.Commnets">
            <app-comment  *ngFor="let com of this.Commnets" [Commnet]="com"></app-comment >
            </ul>
        </div>
      </div>
    </div> 
  </section>
