<section class="posts">
  <div class="row hidden">
    <div class="col">
      <div class="container">
        <div class="post-card">
        <app-user-card [user]="post.user"></app-user-card>
          <div class="post-content">
            <div class="post-content-info">
              <span>{{ post.date | date :'medium'}}</span>
              <p>{{post.postText}}</p>
              <img *ngIf="post.mediaUrl" [src]="post.mediaUrl" alt="img-post" class="rounded-3"/>
                <i *ngIf="this.LikeEnablebutton"  (click)="this.onLikelicked();"  class="fa fa-heart" [ngClass]="{'Liked':this.liked}"></i>
                <label>{{this.numberofLike}}</label>
                <a (click)="displayComment()">comment</a>
                <a (click)="cancelComment()" [ngClass]="{'posts hideComment':displayCancel}">cancel</a>
                <!-- add comments -->
                <div class="addComment" [ngClass]="{'posts hideComment':displayCom}">
                   <form>
                  <div class="form-content d-flex ">
                    <textarea  name="commentInput" id="comment" [(ngModel)]="this.newComment"
                    placeholder="leave a comment here..." maxlength="1000"></textarea>
                    <button name="sendComment"   (click)="this.CreateComment()" type="button">comment</button>
                  </div>
                </form>
                </div>
            <!-- end edd comments -->
              </div>
          </div>
                  <!-- All comments-->
          <div  class="commentsArea">  
            <div *ngIf="this.isLoding" style="margin-top: 10px;margin-bottom: 10px;"  class="d-flex justify-content-center" >
              <mat-spinner    [color]="spinnercolor" > </mat-spinner>
            </div>
          <app-comment  *ngFor="let com of this.Commnets" (Ondeleted)="this.ChildeDeleted($event);" [depth]="0" [Commnet]="com"></app-comment >
            <div class="mx-4 showComments text-center">
              <a>show more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
