<!-- navbar  start  -->
<app-navbar></app-navbar>
<!-- navbar  end -->

<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  medicines -->
<section class="medicines">
  <div class="medicine-deploy text-center">
    <h2>MEDICINES</h2>
    <hr/>
    </div>
        <!-- start post -->
      <div class="row hidden" *ngFor="let doctor of doctorsInfo | paginate : {currentPage:PageNumber,itemsPerPage:pageSize,totalItems:totalItems}">
        <div class="col">
          <div class="container">
            <div class="medicine-content">
              <img [src]="doctor.pictureUrl" alt="Doctor" class="img-fluid" />
              <div class="medicine-content-info">
                <h4 style="cursor: pointer;" [routerLink]="'/Doctor/'+doctor.userName">Dr.{{doctor.displayName}}</h4>
                <img src="../../../assets/images/areaIcon.png"/>
                <span>{{doctor.location}}</span>
                <img src="../../../assets/images/specalist.png"/>
                <span>{{doctor.specialization}}</span>
                <p>{{doctor.aboutMe}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- end post -->
</section>
<!-- end medicines -->



<!-- start pageination -->
<div class="d-flex justify-content-center">
  <pagination-controls class="page-controls" (pageChange)="this.onMovePage($event)" [maxSize]="7" [autoHide]="true" [directionLinks]="false"></pagination-controls>
</div>
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
