.userInfo > img{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(181, 162, 235, 0.71);
    box-sizing: border-box;
  }

  .userInfo > h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #000;
  }


  @media screen and (max-width:768px){
    .userInfo > h4{
      font-size: 16px;
    }
    .userInfo > img{
      width: 60px;
      height: 60px;
    }
  }

