<div class="row justify-content-left d-flex">
  <div class="col-md-5 mt-2 d-flex flex-column">
    <div class="rating-box">
      <h1 class="pt-4">{{this.userRateData.data.average}}</h1>
      <p class="">({{this.userRateData.data.total}})</p>
    </div>
  </div>
  <div class="col-md-7">
    <div class="rating-bar0 justify-content-center">
      <table class="text-left mx-auto">
        <tr>
          <td class="rating-label">
            <input type="radio" value=5 name="rateUserInput"
              [defaultChecked]="currentRating ==5"
              (input)="onRatingChange($event)" *ngIf="!isMyOwnProfile() && isThereUserLogin()" />
            Excellent
          </td>
          <td class="rating-bar">
            <div class="bar-container rating-progress-bars">
              <div class="progress-1 align-items-center">
                <div class="progress-bar bar-1" role="progressbar"
                  [ngStyle]="{ 'width': this.count5+'%' }"
                  aria-valuemin="0" aria-valuemax="100">{{this.count5}}</div>
              </div>
            </div>
          </td>
          <td class="text-right">{{this.count5}}</td>
        </tr>
        <tr>
          <td class="rating-label">
            <input type="radio" value=4 name="rateUserInput"
              [defaultChecked]="currentRating ==4"
              (input)="onRatingChange($event)" *ngIf="!isMyOwnProfile() && isThereUserLogin()" /> Good
          </td>
          <td class="rating-bar">
            <div class="bar-container rating-progress-bars">
              <div class="progress-1 align-items-center">
                <div class="progress-bar bar-1" role="progressbar"
                  [ngStyle]="{ 'width': this.count4+'%' }"
                  aria-valuemin="0" aria-valuemax="100">{{this.count4}}</div>
              </div>
            </div>
          </td>
          <td class="text-right">{{this.count4}}</td>
        </tr>
        <tr>
          <td class="rating-label">
            <input type="radio" value=3 name="rateUserInput"
              [defaultChecked]="currentRating ==3"
              (input)="onRatingChange($event)" *ngIf="!isMyOwnProfile() && isThereUserLogin()" />
            Average
          </td>
          <td class="rating-bar">
            <div class="bar-container rating-progress-bars">
              <div class="progress-1 align-items-center">
                <div class="progress-bar bar-1" role="progressbar"
                  [ngStyle]="{ 'width': this.count3+'%' }"
                  aria-valuemin="0" aria-valuemax="100">{{this.count3}}</div>
              </div>
            </div>
          </td>
          <td class="text-right">{{this.count3}}</td>
        </tr>
        <tr>
          <td class="rating-label">
            <input type="radio" value=2 name="rateUserInput"
              [defaultChecked]="currentRating ==2"
              (input)="onRatingChange($event)" *ngIf="!isMyOwnProfile() && isThereUserLogin()" /> Poor
          </td>
          <td class="rating-bar">
            <div class="bar-container rating-progress-bars">
              <div class="progress-1 align-items-center">
                <div class="progress-bar bar-1" role="progressbar"
                  [ngStyle]="{ 'width': this.count2+'%' }"
                  aria-valuemin="0" aria-valuemax="100">{{this.count2}}</div>
              </div>
            </div>
          </td>
          <td class="text-right">{{this.count2}}</td>
        </tr>
        <tr>
          <td class="rating-label">
            <input type="radio" value=1 name="rateUserInput"
              [defaultChecked]="currentRating ==1"
              (input)="onRatingChange($event)" *ngIf="!isMyOwnProfile()&& isThereUserLogin()" />
            Terrible
          </td>
          <td class="rating-bar">
            <div class="bar-container rating-progress-bars">
              <div class="progress-1 align-items-center">
                <div class="progress-bar bar-1" role="progressbar"
                  [ngStyle]="{ 'width': this.count1+'%' }"
                  aria-valuemin="0" aria-valuemax="100">{{this.count1}}</div>
              </div>
            </div>
          </td>
          <td class="text-right">{{this.count1}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
