<div class="nurse-info">
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1> A Nurse Information update </h1>
        </div>
        <div class="card-body">
            <div class="grid-container text-center">
              <form autocomplete="off" [formGroup]="nurseFrom" (ngSubmit)="onSubmit($event)">
                  <input type="text" placeholder="FirstName"
                      class="input_group "
                      name="firstNameInput" id="firstNameInput"
                      required
                      formControlName="firstNameInput" />
                  <input type="text" placeholder="LastName"
                      class="input_group "
                      name="lastNameInput" id="lastNameInput"
                      required
                      formControlName="lastNameInput" />
                  <br />
                  <input type="text" placeholder="Phone Number"
                      class="input_group"
                      name="phoneNumberInput" id="phoneNumberInput"
                      required
                      formControlName="phoneNumberInput" />
                  <input type="text" placeholder="Home Number"
                      class="input_group"
                      name="homeNumberInput" id="homeNumberInput"
                      required
                      formControlName="homeNumberInput" />
                  <br />

                  <input type="text" placeholder="Specialization"
                      class="input_group"
                      name="specializationInput" id="specializationInput"
                      required
                      formControlName="specializationInput" />
                  <input type="text" placeholder="Location"
                      class="input_group"
                      name="locationInput" id="locationInput"
                      required
                      formControlName="locationInput" />
                  <br />
                  <textarea
                      placeholder="About Me"
                      style="width:62%; height:30%"
                      name="aboutMeInput" id="aboutMeInput"
                      required
                      formControlName="aboutMeInput">About Me..</textarea>

                  <br />

                  <select class="select_group"
                      name="selectCityInput">
                      <option *ngFor="let item of cities"
                      [value]="item.name">
                      {{item.name}}
                      </option>
                  </select>

                  <select class="select_group"
                      name="selectPersonStateInput">
                      <option *ngFor="let item of this.psersonStates"
                      [value]="item.name">
                      {{item .name}}
                      </option>
                  </select>

                  <br />
                  <select class="select_group" name="selectWorkAthome">
                    <option value="1" selected> Yes </option>
                    <option value="2"> No </option>
                  </select>
                  <br/>

                  <mat-form-field>
                      <label class="ml-1">Start Time:</label>
                      <input matInput name="datetimeInput"
                          formControlName="startDatetimeInput"
                          id="startDatetimeInput" required type="datetime-local"
                          placeholder="start
                          date">
                  </mat-form-field>
                  <mat-form-field>
                      <label class="ml-5">End Time:</label>
                      <input matInput name="endDatetimeInput" class="ml-5"
                          formControlName="endDatetimeInput"
                          id="datetimeInput" required type="datetime-local"
                          placeholder="start
                          date">
                  </mat-form-field>
                  <br />

                  <button class="register_btn"type="submit" [disabled]="this.nurseFrom.invalid">
                      Apply
                  </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
