<app-navbar></app-navbar>
<div>
  <div
    id="intro-example"
    class="mainImage p-5 text-center bg-image"
    style="background-image: url('assets/images/doctorCover.jpg');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.301);">
      <div class="d-flex justify-content-left align-items-center h-100">
        <div class="px-5 text-white">
          <h1 class="mb-3">Syrian Medicine</h1>
          <h1 class="mb-4">in your hands</h1>
        </div>
      </div>
    </div>
  </div>

  <section id="team" class="pb-5">
    <div class="container">
      <h2 class="section-title h3">Most Rated Hospitals</h2>
      <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4"
          *ngFor="let hospital of mostHospitalsRated">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid"
                        src="{{hospital.pictureUrl}}"
                        alt="card image"></p>
                    <h4 class="card-title">{{hospital.name}}</h4>
                    <p class="card-text">{{hospital.shortAboutMeForHospital}}</p>
                    <i class="fa fa-map-marker-alt fa-1x" style="color:gray;">
                    </i> {{hospital.city}}
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <a href="#"><h4 class="card-title">{{hospital.name}}</h4></a>
                    <p class="card-text">{{hospital.aboutHospital}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="mt-3 section-title h3">Most Rated Doctors</h2>

        <div class="col-xs-12 col-sm-6 col-md-4"
          *ngFor="let doctor of mostDoctorsRated">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid"
                        src="{{doctor.pictureUrl}}"
                        alt="card image"></p>
                    <h4 class="card-title">Dr.{{doctor.displayName}}</h4>
                    <p class="card-text">{{doctor.shortAboutMeForDoctor}}</p>
                    <p>
                      <i class="fa fa-map-marker-alt fa-1x" style="color:gray;">
                      </i> {{doctor.city}} <img
                        src="assets/images/specalist.png"
                        style="width:23px; height:23px;" />
                      {{doctor.specialization}}
                    </p>

                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <a href="#"><h4 class="card-title">Dr.{{doctor.displayName}}</h4></a>
                    <p class="card-text">{{doctor.aboutMe}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <h2 class="mt-3 section-title h3">Most Rated Nurses</h2>

        <div class="col-xs-12 col-sm-6 col-md-4"
          *ngFor="let nurse of mostNursesRated">

          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid"
                        src="{{nurse.pictureUrl}}"
                        alt="card image"></p>
                    <h4 class="card-title">{{nurse.displayName}}</h4>
                    <p class="card-text">{{nurse.shortAboutMeForNurse}}</p>
                    <p>
                      <i class="fa fa-map-marker-alt fa-1x" style="color:gray;">
                      </i> {{nurse.city}} <img src="assets/images/specalist.png"
                        style="width:23px; height:23px;" />
                      {{nurse.specialization}}
                    </p>

                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <a href="#"><h4 class="card-title">{{nurse.displayName}}</h4></a>
                    <p class="card-text">{{nurse.aboutMe}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="mt-3 section-title h3">Most Rated Posts</h2>

        <div class="col-xs-12 col-sm-6 col-md-4"
          *ngFor="let post of mostPostsRated">

          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid"
                        src={{post.medialUrl}}
                        alt="card image"></p>
                    <h4 class="card-title">{{post.postTitle}}</h4>
                    <p class="card-text">{{post.shortPostText}}</p>
                    <i class='fas fa-user-edit'></i><span> {{post.userName}}</span>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <a href="#"><h4 class="card-title">{{post.postTitle}}</h4></a>
                    <p class="card-text">{{post.postText}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <app-footer></app-footer>