<div class="example-container overflow-hidden">

  <mat-toolbar  class="example-toolbar">
    <button mat-icon-button  (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
    <span class="toolbar-spacer"></span>
    <h1>Dashboard</h1>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer [mode]="widthScreen > 992 ? 'side' : 'over'" class="sidnav" #snav  [opened]="widthScreen > 992 ? true : false">
      <div class="admin">
        <h2> syrian medicine </h2>
        <div class="admin-info">
          <img src="../../../assets/images/person1.jpg" alt="adminImage" class="circle">
          <h4>Admin Name</h4>
        </div>
      </div>
      <mat-divider></mat-divider>

        <div class="links">
            <ul class="list-unstyled">
              <li [routerLink]="'/Admin/Dashboard'"><i class="fa fa-home"></i> Dashboard</li>
              <li [routerLink]="'/Admin/Settings'"><i class="fa fa-stop-circle"></i> Settings</li>
              <li [routerLink]="'/Admin/Userprofile'"><i class="fa fa-user"></i> User Profile</li>
              <li [routerLink]="'/Admin/Others'"><i class="fab fa-hire-a-helper"></i> Others</li>
            </ul>
          </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
   </mat-drawer-container>
 </div>
