 
<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  posts -->
<section class="posts">
  <div class="post-deploy text-center">
    <h2>POSTS</h2>
    <hr/>
    </div> 
    <app-posts-section [loadefunc]="postLoadfunc"></app-posts-section>
</section>
<!-- end posts -->

<!-- start pageination -->
 
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
