<!-- navbar  start  -->
<app-navbar></app-navbar>
<!-- navbar  end -->

<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  posts -->
<section class="posts">
  <div class="post-deploy text-center">
    <h2>POSTS</h2>
    <hr/>
    </div> 
    <app-post *ngFor="let post of this.posts"  [post]="post"></app-post> 
  <div *ngIf="this.isLoding"  class="d-flex justify-content-center" > 
    <mat-spinner  diameter="90"  class="custom-spinner"> </mat-spinner>
  </div>
</section>
<!-- end posts -->

<!-- start pageination -->
 <div *ngIf="this.postended" class="d-flex justify-content-center mb-2">
    Post ended
 </div  >
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
