
<section class="login">
    <div class="row p-0 m-0">
        <div class="d-flex container">
            <div class="col-lg-6">
                <div class="leftSide">
                    <div class="mt-5" style="text-align: center;">
                        <a class="logoLink" routerLink="/Main">SYRIAN MEDICINE</a>
                    </div>
                    <div>
                        <img class="loginImage"
                            src="assets/images/doctorLogin.png"
                            alt="doctor login image">
                    </div>
                    <div class="bottomText mt-2" style="text-align: center;">
                        <p style="color:#FFCC8F ;">© 2022 Syrian Medicine. All
                            Rights
                            Reserved.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 form-card">
                <div class="mb-2" style="text-align: center;">
                    <a class="logoLink2" routerLink="/Main">SYRIAN MEDICINE</a>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a routerLink="/Login" class="focus">LOGIN</a>
                        <a routerLink="/Register">REGISTER</a>
                    </div>
                    <div class="card-body text-center">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
                            <select class="select_group"
                                name="selectType"
                                id="selectType"
                                (change)="selectOption($any($event.target).value)">
                                <option [value]="1">Admin</option>
                                <option [value]="2">Sick</option>
                                <option [value]="3">Doctor</option>
                                <option [value]="4">Nurse</option>
                                <option [value]="5">Hospital</option>
                            </select>
                            <input type="text" placeholder="Username or Email"
                                name="userNameOrEmailInput"
                                id="userNameOrEmailInput"
                                class="input_group"
                                formControlName="userNameOrEmailInput" />
                                <div class="div-password">
                                    <input [type]="showPassword? 'text'
                                        :'password'"
                                        placeholder="Password"
                                        class="input_groupPassword"
                                        required
                                        formControlName="passwordInput"
                                        name="passwordInput" id="passwordInput"
                                        />
                                    <button type="button"
                                        [class]="showPassword ? 'fa fa-eye
                                        show-hide-password no-select' : 'fa
                                        fa-eye-slash show-hide-password
                                        no-select'"
                                        (click)="toggleShow()" tabindex="-1">
                                    </button>
                                </div>
                            <button type="submit" class="login_btn"
                                [disabled]="!loginForm.valid"> LOGIN
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
