<div class="comments overflow-hidden">
    <div class="row hidden">
        <div class="col">
          <div class="container">
            <div class="comments-conent">
              <app-user-card [user]="Commnet.user" ></app-user-card>
                  <div class="comments-content-info">
                      <p>{{Commnet.text}}</p>
                      <i class="fa fa-heart"></i>
                      <label>19</label>
                      <a>Reply</a>
                    </div>
                      <!-- add comments -->
                      <div class="addComment">
                        <form [formGroup]="form" >
                        <div class="form-content d-flex mx-5">
                          <textarea name="commentInput" id="comment"
                          placeholder="leave a comment here..." maxlength="1000" required formControlName="replay"></textarea>
                          <div class="alert alert-danger" *ngIf="form.invalid && form.touched && form.errors?.['required']">
                              please leave a comment ..
                          </div>
                          <button type="button">Replay</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                 </div>

                 <ul  *ngIf="this.SubCommnets" >
                <app-comment *ngFor="let come of this.SubCommnets" [Commnet]="come"></app-comment>
                </ul>
            </div>
          </div>
        <!-- </div> -->

