<div class="comments p-0 mb-2">
    <div class="row hidden">
        <div class="col p-0">
          <!-- <div class="container"> -->
            <div class="comments-content">
              <app-user-coment [user]="this.Commnet.user" ></app-user-coment>
                  <div class="comments-content-info">
                      <p *ngIf="!this.isediting">{{this.Commnet.text}}  </p>
                      <p *ngIf="this.isediting"><mat-spinner  diameter="19"  class="d-inline-block custom-spinner"> </mat-spinner></p>
                      <h5 style="color:rgb(114, 114, 114);margin: 0;">{{(Commnet.datetime | date :'medium')+(this.Commnet.isEdited?"  (edited)":"")}} </h5>
                      <i *ngIf="LikeEnablebutton"  (click)="this.onLikelicked();" class="fa fa-heart" [ngClass]="{'Liked':this.liked}" ></i>
                      <i *ngIf="!this.LikeEnablebutton"> <mat-spinner  diameter="16"  class="d-inline-block custom-spinner"> </mat-spinner></i>
                      <label>{{this.numberofLike}}</label>
                      <a (click)="displayReplay(false)">Reply</a>
                      <a *ngIf="this.isOwnedbyMe();" (click)="deleteComment()">Delete</a>
                      <a *ngIf="this.isOwnedbyMe();" (click)="displayReplay(true)">Edit</a>
                      <a (click)="cancelReplay()" [ngClass]="{'comments hideComment':displayCancel}">Cancel</a>
                    </div>
                    <!-- add replay -->
                      <div class="addComment" [ngClass]="{'comments hideComment':displayRep}">
                        <form>
                        <div class="form-content">
                          <textarea [(ngModel)]="commentText" name="commentInput" id="comment"
                          [placeholder]="this.editeCliked?'edite comment.....':'leave a comment here...'" maxlength="1000" ></textarea>
                          <button  name="sendComment" (click)="editeCliked?this.EditeSubComment():this.CreateSubComment();" type="button">{{editeCliked?'Edite':"Replay"}}</button>
                        </div>
                      </form>
                      </div>
                      <div *ngIf="(!Subvisible&&this.SubCommnets.length!=0)||(!this.CommentsEnded&&!this.isLoding)" class="showComments p-2">
                        <a (click)="Subvisible?this.loadSubcomment():this.showSubComment()">{{Subvisible?'show More': 'show replies'}}</a>
                      </div>
                    </div>
                  </div>
                 </div>
                 <!-- sub comments -->
                <div  *ngIf="Subvisible"  class="commentsArea ">
                  
                  <div  *ngIf="this.isNewCommentCreateing" class="ml-3 mt-2" >
                    <mat-spinner diameter="60"  class="custom-spinner"> </mat-spinner>
                  </div>
                  <app-comment *ngFor="let come of this.SubCommnets" (Ondeleted)="this.ChildeDeleted($event)" [depth]="this.depth+1" [Commnet]="come"></app-comment>
                  <div  *ngIf="this.isLoding" class="ml-3 mt-2" >
                    <mat-spinner diameter="60"  class="custom-spinner"> </mat-spinner>
                  </div>
              </div>
            </div>
