.comments {
  padding-top: 10px;
  padding-left: 10px;
  overflow-x: hidden;
}

.comments .comments-content-info {
  margin-left: 111px;
  margin-top:-30px;
}
@media screen and (max-width:768px){
  .comments .comments-content-info {
    margin-left: 90px;
    margin-top:-25px;
  }
}

.comments  .comments-content-info p{
  margin:2px 0;
  line-height: 1.6;
  font-size: 15px;
  word-break: break-all;
  word-spacing: normal;
}

.comments  .comments-content-info i {
  padding-top: 5px;
  transition: 0.3s;
}
.comments  .comments-content-info i:hover {
  color: rgb(252, 0, 0);
  cursor: pointer;
}
.comments .comments-content-info > label {
  padding-top: 5px;
  color: #000;
  font-weight: 500;
  margin-left: 3px;
}
.comments .comments-content-info a {
  padding-top: 10px;
  color: #000;
  margin-left:5px;
  text-decoration:none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.88em;
}
.comments .comments-content-info  a:hover {
  padding-top: 5px;
  text-decoration: none;
}

@media screen and (max-width:768px){
  .comments  .comments-content-info p{
    font-size: 13px;
  }
  .comments .comments-content-info a{
    font-size: 0.78em;
  }
}

.comments .addComment{
  margin-left:90px;
}

.comments .hideComment{
  display: none;
}
.comments .addComment .form-content {
  display: flex;
  justify-content: start;
}
.comments .addComment .form-content textarea{
  width: 60%;
  height: 40px;
  outline: none;
  border: 2px solid #68A9CD;
  padding: 9px 18px;
  color: #000;
  font-style: normal;
  font-size: 14px;
  border-radius: 50px;
  letter-spacing:1.6px;
  word-spacing: 2px;
  margin-right:15px;
  box-shadow:1px 1px rgba(181, 162, 235, 0.71);
  overflow-y: hidden;
}
.comments .addComment .form-content textarea:hover,
.comments .addComment .form-content textarea:focus{
  border: 2px solid #305A72;
  background-color: #e3e3e3;
}
::placeholder{
  text-align: center;
}
.comments .addComment .form-content button {
  background-color: #305A72;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px;
  font-size:12px;
  font-style:normal;
  letter-spacing:1px;
  overflow:hidden;
  text-transform:uppercase;
  font-weight:bold;
}
.comments .addComment .form-content button:hover,
.comments .addComment .form-content button:focus{
  background-color: rgba(92, 138, 165, 0.87);
}

@media screen and (max-width:768px){
  .comments .addComment .form-content textarea{
    height:35px;
    padding:7px;
    font-size: 12px;
  }
  .comments .addComment .form-content button {
    padding:5px;
    font-size: 11px;
  }
    ::placeholder{
      font-size:9px;
      letter-spacing: 1px;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
  ::placeholder{
    font-size:14px;
    letter-spacing: 1px;
  }
}

.comments .commentsArea{
  margin:0 0 0 45px;
  padding: 0 0 0 30px;
  border-left: 1px solid #305a72;
}
.comments .Liked{
  color: red;
}
@media screen and (max-width:768px){
  .comments .commentsArea{
    margin: 0;
    padding:0;
    border:none;
  }

}

@media screen and (min-width:768px) and (max-width:992px){
  .comments .commentsArea{
    margin:0;
    padding: 0;
    border:none
  }
}
::ng-deep .green-snackbar {
  background-color: #4BB543;
  position: absolute;
  bottom: 0px;
  color: white;
  animation:0.4s onsnackbarstart;
  -moz-animation: 0.4s onsnackbarstart;
  -webkit-animation: 0.4s onsnackbarstart;
  -o-animation: 0.4s onsnackbarstart;
}
::ng-deep .red-snackbar {
  background: red;
  color: white;
  position: absolute;
  bottom: 5px;
  animation:0.4s onsnackbarstart;
  -moz-animation: 0.4s onsnackbarstart;
  -webkit-animation: 0.4s onsnackbarstart;
  -o-animation: 0.4s onsnackbarstart;
}
@keyframes onsnackbarstart{
  from{left: -350px;}
  to{left:0px;}
}

.comments .showComments{
  margin-left: 100px;
}

.comments  .showComments  > a{
  background-color: #ddd;
  padding: 7px;
  color: #222;
  font-size: .78rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid #e2e2e2;
  letter-spacing: .9px;
}
.comments   .showComments> a:hover{
  background-color: #888899;
  color: #d4d4d4;
  text-decoration: none;
  cursor: progress;
}

@media screen and (max-width:768px){
  .comments .showComments{
    margin-left: 80px;
  }
}
