.comments {
  padding-top: 10px;
}
.comments .comments-content-info {
  margin-left: 143px;
  margin-top: -30px;
}
.comments .comments-content-info p{
  margin: 5px 0;
  line-height: 1.6;
  font-size: 14px;
  word-break: break-all;
  word-spacing: normal;
}

.comments .comments-content-info i {
  padding-top: 5px;
  transition: 0.3s;
}
.comments .comments-content-info i:hover {
  color: rgb(252, 0, 0);
  cursor: pointer;
}
.comments .comments-content-info > label {
  padding-top: 5px;
  color: #000;
  font-weight: 500;
}
.comments .comments-content-info a {
  padding-top: 10px;
  color: #000;
  margin-left:5px;
  text-decoration:none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.79em;
}
.comments .comments-content-info  a:hover {
  padding-top: 5px;
  text-decoration: none;
}


.comments .addComment .form-content textarea{
  width: 60%;
  height: 50px;
  outline: none;
  border: 2px solid #68A9CD;
  padding: 14px 28px;
  color: #000;
  font-style: normal;
  font-size: 14px;
  border-radius: 50px;
  letter-spacing:1.6px;
  word-spacing: 2px;
  margin-right:15px;
  box-shadow:1px 1px rgba(181, 162, 235, 0.71);
  overflow-y: hidden;
}
.comments .addComment .form-content textarea:hover,
.comments .addComment .form-content textarea:focus{
  border: 2px solid #305A72;
  background-color: #e3e3e3;
}

.comments .addComment .form-content button {
  background-color: rgba(48, 90, 114, 0.87);
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size:13px;
  font-style:normal;
  letter-spacing:1px;
  overflow:hidden;
  text-transform:uppercase;
  font-weight:bold;
  // margin-bottom: 20px;
}
.comments .addComment .form-content button:hover,
.comments .addComment .form-content button:focus{
  background-color: rgba(92, 138, 165, 0.87);
}

@media screen and (max-width:768px){
  .comments .addComment .form-content {
    display: flex;
    flex-wrap: wrap;
  }
  .comments .addComment .form-content textarea{
    width: 100%;
    padding:15px 30px;
  }
  .comments .addComment .form-content button {
      margin-top:10px;
      margin-left:5px;
      padding:12px 24px;
    }
}


// .comments .comments-content {
//   display: flex;
//   margin: auto;
//   padding: 20px;
// }

// .comments .comments-content > img {
//   width: 80px;
//   height: 80px;
//   border: 1px solid rgba(181, 162, 235, 0.71);
//   box-sizing: border-box;
// }

// .comments .comments-content .comments-content-info {
//   margin-left: 20px;
//   margin-top: 5px;
//   line-height: 24px;
//   padding: 10px;
// }

// .comments .comments-content .comments-content-info > h4 {
//   font-size: 15px;
//   font-weight: 600;
//   font-style: normal;
//   color: #000;
// }
// .comments .comments-content .comments-content-info span {
//   font-size: 14px;
//   color: rgba(0, 0, 0, 0.46);
//   letter-spacing: 0.5px;
//   font-weight: 600;
// }

// .comments .comments-content .comments-content-info p {
//   margin: 5px 0;
//   line-height: 1.6;
//   font-size: 13px;
//   word-break: break-all;
//   word-spacing: normal;
// }
// .comments .comments-content .comments-content-info i {
//   padding-top: 5px;
//   transition: 0.3s;
// }
// .comments .comments-content .comments-content-info i:hover {
//   color: rgb(252, 0, 0);
//   cursor: pointer;
// }
// .comments .comments-content .comments-content-info > label {
//   padding-top: 5px;
//   color: #000;
//   font-weight: 500;
// }
// .comments .comments-content .comments-content-info a {
//   padding-top: 10px;
//   color: #000;
//   margin-left: 5px;
//   text-decoration: none;
//   cursor: pointer;
//   font-weight: bold;
//   font-size: 0.79em;
// }
// .comments .comments-content .comments-content-info a:hover {
//   padding-top: 5px;
//   text-decoration: none;
// }

// .comments .comments-content .comments-content-info  img {
//   display: block;
//   max-width: 80%;
//   border-radius: 100px;
//   border: solid 2px rgba(0, 0, 0, 0.46);
//   box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
//   margin: 15px auto auto auto;
//   padding: 5px;
// }

// replay
// .comments .replay-content {
//   display: flex;
//   margin: auto;
//   padding: 20px;
// }

// .comments .replay-content > img {
//   width: 80px;
//   height: 80px;
//   border: 1px solid rgba(181, 162, 235, 0.71);
//   box-sizing: border-box;
// }

// .comments .replay-content .replay-content-info {
//   margin-left: 20px;
//   margin-top: 5px;
//   line-height: 24px;
//   padding: 10px;
// }

// .comments .replay-content .replay-content-info > h4 {
//   font-size: 15px;
//   font-weight: 600;
//   font-style: normal;
//   color: #000;
// }
// .comments .replay-content .replay-content-info span {
//   font-size: 14px;
//   color: rgba(0, 0, 0, 0.46);
//   letter-spacing: 0.5px;
//   font-weight: 600;
// }

// .comments .replay-content .replay-content-info p {
//   margin: 5px 0;
//   line-height: 1.6;
//   font-size: 13px;
//   word-break: break-all;
//   word-spacing: normal;
// }
// .comments .replay-content .replay-content-info i {
//   padding-top: 5px;
//   transition: 0.3s;
// }
// .comments .replay-content .replay-content-info i:hover {
//   color: rgb(252, 0, 0);
//   cursor: pointer;
// }
// .comments .replay-content .replay-content-info > label {
//   padding-top: 5px;
//   color: #000;
//   font-weight: 500;
// }
// .comments .replay-content .replay-content-info a {
//   padding-top: 10px;
//   color: #000;
//   margin-left: 5px;
//   text-decoration: none;
//   cursor: pointer;
//   font-weight: bold;
//   font-size: 0.79em;
// }

// .comments .replay-content .replay-content-info a:hover {
//   padding-top: 5px;
//   text-decoration: none;
// }

// .comments .replay-content .replay-content-info  img {
//   display: block;
//   max-width: 80%;
//   border-radius: 100px;
//   border: solid 2px rgba(0, 0, 0, 0.46);
//   box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
//   margin: 15px auto auto auto;
//   padding: 5px;
// }

