.body{
  display: flex;
  margin: 5px 0;
  padding:5px 0;
}
div.body:hover{
  background-color: #e6e6e67c;
}
 #userImg{
  width: 62px;
  height: 62px;
  border-radius: 50px;
  margin-left: 5px;
  border: #c1c1c1 1px solid;
}

.body .content{
  line-height: 1px;
  padding: 13px 10px;
}

.body .content p{
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  word-break: break-all;
  margin-top: 5px;
}
