 .body{  
  width: auto; 
  height: auto;  
}
div.body:hover{
  background-color: #f1f1f17c;
}
 #userImg{
  width: 62px;
  height: 62px;
  border-radius: 50px;
  margin-left: 5px;
  border: #6b6b6b 1px solid;
}

.body .content{
  line-height: 1px;
  padding: 13px 10px;
}

.body .content p{
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  word-break: break-all;
  margin-top: 5px;
}

