.userInfo > img{
  width: 60px;
  height: 60px;
  border: 1px solid rgba(181, 162, 235, 0.71);
  box-sizing: border-box;
}

.userInfo > h4 {
  font-size: 14px;
  font-weight:600;
  font-style: normal;
  color: #000;
}

@media screen and (max-width:768px){
  .userInfo > h4{
    font-size: 13px;
  }
  .userInfo > img{
    width: 50px;
    height: 50px;
  }
}
