<!-- navbar  start  -->
<app-navbar></app-navbar>
<!-- navbar  end -->

<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  posts -->
<section class="posts">
  <div class="post-deploy text-center">
    <h2>POSTS</h2>
    <hr/>
    </div>
        <!-- start post -->
      <div class="row hidden">
        <div class="col">
          <div class="container">
            <div class="post-content">
              <img src="../../../assets/images/person1.jpg" alt="person1" class="rounded-circle"/>
              <div class="post-content-info">
                <h4>Dr. Muhammed Sarya</h4>
                <span>Dec 16,2020</span>
                <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
                <i class="fa fa-heart"></i>
                <label>19</label>
                <a href="#">comments</a>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- end post -->

  <!-- start post -->
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <div class="post-content">
            <img src="../../../assets/images/person2.jpg" alt="person1" class="rounded-circle"/>
            <div class="post-content-info">
              <h4>Dr. Muhammed Sarya</h4>
              <span>Dec 16,2020</span>
              <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
              <img src="../../../assets/images/US_22641_SOCIAL MEDIA IMAGE_Coronavirus Force Majeure_Masthead_1920x1080px.jpg" alt="img-post" class="rounded-3"/>
              <i class="fa fa-heart"></i>
              <label>19</label>
              <a href="#">comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end post -->

  <!-- start post -->
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <div class="post-content">
            <img src="../../../assets/images/person3.jpg" alt="person1" class="rounded-circle"/>
            <div class="post-content-info">
              <h4>Dr. Muhammed Sarya</h4>
              <span>Dec 16,2020</span>
              <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
              <i class="fa fa-heart"></i>
              <label>19</label>
              <a href="#">comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end post -->

  <!-- start post -->
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <div class="post-content">
            <img src="../../../assets/images/person3.jpg" alt="person1" class="rounded-circle"/>
            <div class="post-content-info">
              <h4>Dr. Muhammed Sarya</h4>
              <span>Dec 16,2020</span>
              <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
              <img src="../../../assets/images/coronaPost.jpeg" alt="img-post" class="rounded"/>
              <i class="fa fa-heart"></i>
              <label>19</label>
              <a href="#">comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end post -->
</section>
<!-- end posts -->

<!-- start pageination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
