* {
    font-family: Lato;
}


:host ::ng-deep .custom-spinner circle{   
    stroke: rgb(173, 173, 173);
  }
 
  ::ng-deep .green-snackbar {
    background-color: #4BB543;
    position: absolute;
    bottom: 0px;
    color: white;
    animation:0.4s onsnackbarstart;
    -moz-animation: 0.4s onsnackbarstart;
    -webkit-animation: 0.4s onsnackbarstart;
    -o-animation: 0.4s onsnackbarstart;
  }
  ::ng-deep .red-snackbar {
    background: red;
    color: white;
    position: absolute;
    bottom: 5px;
    animation:0.4s onsnackbarstart;
    -moz-animation: 0.4s onsnackbarstart;
    -webkit-animation: 0.4s onsnackbarstart;
    -o-animation: 0.4s onsnackbarstart;
  }
  @keyframes onsnackbarstart{
    from{left: -416px;}
    to{left:0px;}
  }
 
 ::ng-deep .notifcationbody{ 
    position: absolute; 
    bottom: 5px;
    right: 5px;
    color: #000;
    background-color:white;
    animation:0.4s onopenNotifcation;
    -moz-animation: 0.4s onopenNotifcation;
    -webkit-animation: 0.4s onopenNotifcation;
    -o-animation: 0.4s onopenNotifcation;
  }
  ::ng-deep .notifcationbody {
    padding: 0px; 
  }
  ::ng-deep .Likesdilog {
    border-radius: 20px;
    background-color: white;
  }
  @keyframes onopenNotifcation{
    from{right: -400px;}
    to{right:  5px;}
  }
 