<h2 mat-dialog-title>Accept Message To Sick</h2>
  <div mat-dialog-content>
    <div class="grid-container">
        <form>
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                  placeholder="Ex. pat@example.com">
            <mat-hint>Sick Email</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <label >Date && Time</label>
            <input matInput name="startDatetimeInput" id="datetimeInput"
            required type="datetime-local"  placeholder="start date">
        </mat-form-field>

        <button mat-button type="submit">Send</button>
        </form>
    </div>
 </div>


