.hospital-info{
  width: 700px;
}


@media screen and (max-width:600px){
  .hospital-info{
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@media screen and(min-width:600px)and(max-width:768px){
  .hospital-info{
    width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@media screen and(min-width:768px)and(max-width:992px){
  .hospital-info{
      margin: auto;
      margin-top: 50px;
      margin-bottom: 100px;
  }
}

@media screen and(min-width:992px)and(max-width:1200px){
  .hospital-info{
    width: 600px;
      margin: 140px;
      margin-top: 50px;
  }
}

@media screen and(min-width:1200px){
  .hospital-info{
      margin: 200px;
      margin-top: 50px;
  }
}

.card-header{
  background-color: #305A72;
  color: #FFF;
  text-transform: uppercase;
  height: 60px;
  text-align: center;
}

.hospital-info .card-header h1 {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: normal;
}

  /* Border */
  .mat-form-field-appearance-fill .mat-form-field-fill {
    color: rgb(41, 12, 94);
  }

  /* Font color */
  input.mat-input-element {
    color: rgb(12, 1, 1);
    margin-top: 10px;
    margin-left: 6px;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input_group {
    background: #ffffff;
    border: 0.5px solid #305a72;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    margin-left: 6px;
    width: 200px;
  }
  .select_group {
    background: #ffffff;
    border: 0.5px solid #305a72;
    box-sizing: border-box;
    outline: 0px;
    border-radius: 50px;
    width: 200px;
    padding: 17px;
    margin: 10px 0;
    margin-left: 6px;
  }
  .register_btn {
    background: #FFF;
    border-radius: 50px;
    font-style: 25px;
    font-weight: 600;
    font-style: normal;
    color: #305A72;
    border:2px solid #305A72;
    padding: 10px 40px;
    margin-left: 560px;
  }

  .register_btn:hover:enabled,
  .register_btn:focus:enabled {
    background-color: #305A72;
    color: #FFF;
  }

  @media screen and(min-width:992px)and(max-width:1200px){
    .register_btn{
        margin-left: 400px;
    }
  }

  @media screen and(min-width:600px)and(max-width:768px){
    .register_btn{
      margin-left: 400px;
    }
  }

  @media screen and (max-width:600px){
    .register_btn{
      margin-left: 200px;
    }
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 0.5px solid #305a72;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    margin: 10px 0;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
