<div class="hospital-info">
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1> A Hospital Information update </h1>
        </div>
        <div class="card-body">
            <div class="grid-container text-center">
              <form autocomplete="off" [formGroup]="hospitsalForm" (ngSubmit)="onSubmit($event)">
                <input type="text" placeholder="Name"
                    class="input_group "
                    name="nameInput" id="nameInput"
                    required
                    formControlName="nameInput" />
                <input type="text" placeholder="WebSite"
                    class="input_group "
                    name="webSiteInput" id="webSiteInput"
                    required
                    formControlName="webSiteInput" />
                <br />
                <input type="text" placeholder="Phone Number"
                    class="input_group"
                    name="phoneNumberInput" id="phoneNumberInput"
                    required
                    formControlName="phoneNumberInput" />
                <input type="text" placeholder="Home Number"
                    class="input_group"
                    name="homeNumberInput" id="homeNumberInput"
                    required
                    formControlName="homeNumberInput" />
                <br />

                <input type="text" placeholder="Location"
                    class="input_group"
                    name="locationInput" id="locationInput"
                    required
                    formControlName="locationInput" />

                <select class="select_group "
                    name="selectCityInput">
                    <option *ngFor="let item of this.cities"
                    [value]="item.name">
                      {{item.name}}
                    </option>
                </select>

                    <br />

                <textarea
                    placeholder="About Hospital"
                    style="width:62%; height:30%"
                    name="aboutHospitalInput" id="aboutHospitalInput"
                    required
                    formControlName="aboutHospitalInput">About Me..</textarea>

                <br />

                <button class="register_btn " type="submit" [disabled]="this.hospitsalForm.invalid">
                    Apply
                </button>
          </form>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
