// start search section
.search
{
  margin: 40px 0;
  padding: 40px 0;
}

.search-form
{
  background: #FFFFFF;
  border: 1.5px solid #305A72;
  box-sizing: border-box;
  border-radius:50px;
  padding:25px;
  margin: 5px 10px 0 30px;
  width: 80%;
}

.search-form:hover,
.search-form:focus
{
border: 1.5px solid #42B0EF;
}

.search-filter
{
  background: rgba(48, 90, 114, 0.87);
  border-radius: 50px;
  padding: 15px 30px;
  border: none;
  color: #FFFFFF;
  letter-spacing: 1.5px;
}

.search-filter:hover,
.search-filter:focus
{
  background: rgba(92, 138, 165, 0.87);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.hidden
{
  margin: 0;
  padding: 0;
}

// end search section

// start docotors

.hospitals
{
  margin: 40px 0;
}

.hospitals .hospital-deploy
{
  font-weight: 600;
  font-style: normal;
}
.hospitals .hospital-deploy > h2
{
    font-size:40px;
    color: #000;
}
@media (max-width:992px)
{
  .hospitals .hospital-deploy > h2
  {
    font-size: 30px;
  }
}

@media (max-width:768px)
{
  .hospitals .hospital-deploy > h2
  {
    font-size: 25px;
  }
}

.hospitals .hospital-deploy > hr
{
  display: inline-block;
  height:2px;
  background-color:#68A9CD ;
  opacity: 1;
  margin-top: 0;
}

@media (max-width:768px)
{
  .hospitals .hospital-deploy > hr
  {
    width: 120px;
  }
}

@media (min-width:768px) and (max-width:992px)
{
  .hospitals .hospital-deploy > hr
  {
    width: 142px;
  }
}

@media (min-width:992px) and (max-width:1200px)
{
  .hospitals .hospital-deploy > hr
  {
    width: 188px;
  }
}

@media (min-width:1200px)
{
  .hospitals .hospital-deploy > hr
  {
    width: 190px;
  }
}

.hospitals .hospital-content
{
  display: flex;
  margin:auto;
  padding:20px;
}

@media screen and (max-width:768px)
{
  .hospitals .hospital-content
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.hospitals .hospital-content >img
{
  width:200px;
  height:200px;
  border:2px solid rgba(181, 162, 235, 0.71);
  border-radius: 30px;
  box-sizing: border-box;
}

.hospitals .hospital-content  .hospital-content-info
{
  margin-left:20px;
  margin-top:5px;
  line-height:24px;
  padding:10px;
}
@media screen and (max-width:768px)
{
  .hospitals .hospital-content  .hospital-content-info
  {
    margin: 0;
    text-align: center;
  }
}

.hospitals .hospital-content  .hospital-content-info > h4
{
  font-size:20px;
  font-weight:400;
  font-style: normal;
  color: #000;
}
.hospitals .hospital-content  .hospital-content-info > img
{
  width: 25px;
  height: 20px;
  margin-right:5px;
}
.hospitals .hospital-content  .hospital-content-info  span
{
  margin-right: 5px;
  font-size: 16px;
}
.hospitals .hospital-content  .hospital-content-info  p
{
  margin-top:10px;
  line-height: 1.6;
  font-size: 15px;
}

// start pageination

.page-controls ::ng-deep .ngx-pagination .current{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  color: #ffffff;
  background-color: rgb(2, 0, 94);
  font-size: 18px;
}
.page-controls ::ng-deep .ngx-pagination li.ng-star-inserted a.ng-star-inserted{
  margin: 4px;
  color:  rgb(2, 0, 94);
}
.page-controls ::ng-deep .ngx-pagination li.ng-star-inserted a.ng-star-inserted > span{
  font-size: 16px;
  font-weight: 500;
}
.page-controls ::ng-deep .ngx-pagination li.ng-star-inserted :hover {
  background-color: #42B0EF;
  border-radius: 25px;
  color: #FFF;
}
// end pageniation
