<!-- navbar  start  -->
<app-navbar></app-navbar>
<!-- navbar  end -->

<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  hospitals -->
<section class="hospitals">
  <div class="hospital-deploy text-center">
    <h2>HOSPITALS</h2>
    <hr/>
    </div>
        <!-- start post -->
      <div class="row hidden" *ngFor="let hosptial of this.hospitalItems |paginate:{currentPage:PageNumber,itemsPerPage:pageSize,totalItems:totalItems}">
        <div class="col">
          <div class="container">
            <div class="hospital-content">
              <img [src]="hosptial.pictureUrl" alt="Hospital" class="img-fluid" />
              <div class="hospital-content-info">
                <h4>{{hosptial.name}}</h4>
                <img src="../../../assets/images/areaIcon.png"/>
                <span>{{hosptial.location}}</span>
                <p>{{hosptial.aboutHospital}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- end hospitals -->


</section>
<!-- end hospitals -->



<!-- start pageination -->
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="this.onMovePage($event)" [maxSize]="7" [autoHide]="true" [directionLinks]="true"></pagination-controls>
</div>
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
