<!-- navbar  start  -->
<app-navbar></app-navbar>
<!-- navbar  end -->

<!-- start search -->
<div class="search">
  <div class="row hidden">
    <div class="col">
      <div class="container">
          <form class="d-flex">
            <input class="search-form" type="search" placeholder="Search" aria-label="Search">
            <button class="search-filter" type="submit" > Filter </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end search -->

<!-- start  hospitals -->
<section class="hospitals">
  <div class="hospital-deploy text-center">
    <h2>HOSPITALS</h2>
    <hr/>
    </div>
        <!-- start post -->
      <div class="row hidden">
        <div class="col">
          <div class="container">
            <div class="hospital-content">
              <img src="../../../assets/images/hamaHospital.jpg" alt="Hospital" class="img-fluid" />
              <div class="hospital-content-info">
                <h4>Homs Unevirsity Hospital</h4>
                <img src="../../../assets/images/areaIcon.png"/>
                <span>Hamah</span>
                <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- end hospitals -->

<!-- start hospitals -->
<div class="row hidden">
  <div class="col">
    <div class="container">
      <div class="hospital-content">
        <img src="../../../assets/images/hamaHospital.jpg" alt="Hospital" class="img-fluid" />
        <div class="hospital-content-info">
          <h4>Hamah Nationa Hospital</h4>
          <img src="../../../assets/images/areaIcon.png"/>
          <span>Homs</span>
          <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hospitals -->

<!-- start hospitals -->
<div class="row hidden">
  <div class="col">
    <div class="container">
      <div class="hospital-content">
        <img src="../../../assets/images/hamaHospital.jpg" alt="Hospital" class="img-fluid" />
        <div class="hospital-content-info">
          <h4>Al-Fayahaa Hosptial </h4>
          <img src="../../../assets/images/areaIcon.png"/>
          <span>Nutrition</span>
          <p>Abilities forfeited situation extremely my to he resembled. Old had conviction discretion understood put principles you. Match means keeps round one her quick. She forming two comfort invited. Yet she income effect edward. Entire desire way design few. Mrs sentiments led solicitude estimating friendship fat. Meant those event is weeks state it to or. Boy but has folly charm there its. Its fact ten spot drew.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hospitals -->
</section>
<!-- end hospitals -->


<!-- start pageination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
<!-- end pageination -->

<!-- footer start  -->
<app-footer></app-footer>
<!-- footer end -->
