<div class="example-container overflow-hidden">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="toolbar-spacer"></span>

    <h1 *ngIf="userType =='Admin'" style="margin-right: auto;">Dashboard</h1>
    <h1 *ngIf="userType !='Admin'" style="margin-right: auto;">Settings</h1>
    <div style="float:right;">
      <mat-icon [routerLink]="'home'" style="color:#264653; margin-top:4px;
        padding-top:4px; cursor: pointer;"> exit_to_app </mat-icon>
    </div>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer [mode]="widthScreen > 992 ? 'side' : 'over'" class="sidnav" #snav
      [opened]="widthScreen > 992 ? true : false">

      <div class="links">
        <ul class="list-unstyled">

          <li  class="icon-text"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>
          <li  class="icon-text"><mat-icon
              class="mr-1"> https
            </mat-icon>
            Change Password</li>

          <li *ngIf="userType =='Admin'"
            class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon> Validate Doctors</li>
          <li *ngIf="userType =='Admin'"
            class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon>Validate Nurses</li>
          <li *ngIf="userType =='Admin'"
            class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon>Validate Hospitals</li>

          <li *ngIf="userType =='Doctor' || userType =='Nurse'"
             class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon>Check Reserves</li>

          <li *ngIf="userType =='Hospital'"
            class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon>Check Reserves</li>
        </ul>
      </div>

    </mat-drawer>
    <mat-drawer-content>
      <app-nurse-reverse></app-nurse-reverse>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
