<div class="example-container overflow-hidden">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="toolbar-spacer"></span>

    <h1 *ngIf="userType =='Admin'" style="margin-right: auto;">Dashboard</h1>
    <h1 *ngIf="userType !='Admin'" style="margin-right: auto;">Settings</h1>
    <div style="float:right;">
      <mat-icon [routerLink]="'home'" style="color:#264653; margin-top:4px;
        padding-top:4px; cursor: pointer;"> exit_to_app </mat-icon>
    </div>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer [mode]="widthScreen > 992 ? 'side' : 'over'" class="sidnav" #snav
      [opened]="widthScreen > 992 ? true : false">

      <div class="links">
        <ul class="list-unstyled">

          <li class="icon-text" *ngIf="userType == 'Admin'"
              routerLink="/Settings/updateAdmin"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>

          <li class="icon-text" *ngIf="userType == 'Sick'"
              routerLink="/Settings/updateSick"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>

          <li class="icon-text" *ngIf="userType == 'Doctor'"
              routerLink="/Settings/updateDoctors"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>

          <li  class="icon-text" *ngIf="userType == 'Nurse'"
              routerLink="/Settings/updateNurse"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>

          <li class="icon-text" *ngIf="userType == 'Hospital'"
              routerLink="/Settings/updateHospital"> <mat-icon
              class="mr-1"> info </mat-icon> Change Information</li>


          <li  class="icon-text" routerLink="/Settings/updatePassword"><mat-icon
               class="mr-1"> https</mat-icon> Change Password</li>

          <li *ngIf="userType =='Admin'" routerLink="/Settings/validateDoctors"
              class="icon-text"><mat-icon class="mr-1">
              check_box
            </mat-icon> Validate Doctors</li>

          <li *ngIf="userType =='Admin'" routerLink="/Settings/validateNurses"
               class="icon-text"><mat-icon class="mr-1">check_box
            </mat-icon>Validate Nurses</li>

          <li *ngIf="userType =='Admin'" routerLink="/Settings/validateHospitals"
              class="icon-text"><mat-icon class="mr-1"> check_box
            </mat-icon>Validate Hospitals</li>

          <li *ngIf="userType =='Doctor'" routerLink="/Settings/doctorReserve"
              class="icon-text"><mat-icon class="mr-1"> check_box
            </mat-icon>Check Reserves</li>

          <li *ngIf="userType =='Nurse'" routerLink="/Settings/nurseReserve"
                class="icon-text"><mat-icon class="mr-1">check_box
            </mat-icon>Check Reserves</li>

          <li *ngIf="userType =='Hospital'" routerLink="/Settings/hospitalReserve"
               class="icon-text"><mat-icon class="mr-1">check_box
             </mat-icon>Check Reserves</li>
      </ul>
    </div>

    </mat-drawer>

      <mat-drawer-content>

      <app-dashboard *ngIf="this.currentRoute == '/Settings'"></app-dashboard>

      <router-outlet></router-outlet>

      </mat-drawer-content>

  </mat-drawer-container>

</div>
