
<!-- start comments -->
<div class="comments overflow-hidden">
  <div class="row hidden">
      <div class="col">
        <div class="container">
          <div class="comments-conent">
            <app-user-comment ></app-user-comment>
                <div class="comments-content-info">
                    <p>Abilities forfeited situation extremely my to he
                        resembled. Old had conviction discretion
                        understood put principles you. Match means keeps
                        round one her quick. She forming two comfort
                        invited. Yet she income effect edward. Entire
                        desire way design few. Mrs sentiments led
                        solicitude estimating friendship fat. Meant
                        those event is weeks state it to or. Boy but has
                        folly charm there its. Its fact ten spot drew.</p>
                    <i class="fa fa-heart"></i>
                    <label>19</label>
                    <a>Reply</a>
               </div>
             </div>
             <!-- replay -->
                  <!-- <app-comments></app-comments> -->
           </div>
       </div>
    </div>
</div>
<!-- end comments -->


<!-- start replay -->
            <!-- <div class="row justify-content-center">
                <div class="col-10">
                    <div class="container">
                      <div class="replay-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle"/>
                        <div class="replay-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a >Reply</a>
                      </div>
                  </div>
                </div>
              </div>
          </div> -->

<!-- end replay -->
