<app-navbar></app-navbar>

<section>
    <div class="bootstrap">
        <div class="row">
            <div class="cover-photo">
                <div class="fb-timeline-img">
                    <img src="assets/images/hospitalCover.jpg"
                        alt="">
                </div>
            </div>
            <div class="panel-body">
                <div class="profile-thumb">
                    <img
                        src="assets/images/hamaHospital.jpg"
                        alt="user image">
                </div>
                <div class="user-info">
                    <p>
                        <img class="mr-1" style="width: 34px; height:28px;"
                            src="assets/images/hospitalIcon.png">
                        <a style="color: black;" href="#">{{hospitalInfoData.name}}</a>
                    </p>
                </div>
                <div class="rightItems" *ngIf="!isMyOwnProfile()">
                    <button class="followBtn mx-2" type="submit" (click)="openReserveDialog()">Reserve</button>
                    <button class="mx-1 followBtn" type="submit" *ngIf="!iFollowedThisUser" (click)="followUser()">Follow</button>
                    <button class="mx-1 followBtn" type="submit" *ngIf="iFollowedThisUser" (click)="unFollowUser()">UnFollow</button>
                </div>
                <div class="user-info2">
                    <p>
                        <i class="fa fa-map-marker-alt fa-1x"
                            style="color:gray;">
                        </i> {{hospitalInfoData.city}}
                        
                        <img class="mx-1"
                            (click)="openTemplete(homeNumberTemplete)"
                            src="assets/images/rotaryPhone.png"
                            style="width:23px; height:23px; cursor: pointer;" />
                    </p>
                </div>
            </div>
            <div class="clearFloat"></div>
        </div>
    </div>


    <div>
        <div class="row justify-content-center">

            <div class="firstHr my-5" style="text-align: center;">
                <h2>About {{hospitalInfoData.name}}</h2>
                <hr />
                <p>
                    {{hospitalInfoData.aboutHospital}}
                </p>
            </div>

            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                <app-rating></app-rating>
            </div>
        </div>
    </div>

</section>

<!-- start comments -->
<section class="comments">
    <div class="row">
        <div class="comment-header">
            <p style="font-weight: bold;">Comments [33]</p>
            <select class="select_group">
                <option [value]="1">Top comments</option>
                <option [value]="2">Latest comments</option>
                <option [value]="3">Old comments</option>
            </select>
        </div>
    </div>
    <div class="row hidden">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="comments-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="comments-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="comments-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="comments-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="comments-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="comments-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container centerBtn justify-content-center">
        <button class="ShowMore" type="submit">Show more</button>
    </div>

</section>
<!-- end comments -->



<!-- start  posts -->
<section class="posts row justify-content-center">

    <!-- start post -->
    <div class="secondHr my-5" style="text-align: center;">
        <h2>Post</h2>
        <hr />
    </div>

    <!-- start post -->
    <div class="row hidden">
        <div class="col">
            <div class="container">
                <div class="card">
                    <i style="text-align: right;
                        display:inline-block;font-size:1.2em;" class="fa
                        fa-cog"></i>
                    <div class="post-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="post-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <span>Dec 16,2020</span>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">comments</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <i style="text-align: right;
                        display:inline-block;font-size:1.2em;" class="fa
                        fa-cog"></i>
                    <div class="post-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="post-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <span>Dec 16,2020</span>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <img class="my-3"
                                src="/assets/images/coronaPost.jpeg">
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">comments</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <i style="text-align: right;
                        display:inline-block;font-size:1.2em;" class="fa
                        fa-cog"></i>
                    <div class="post-content">
                        <img src="../../../assets/images/person1.jpg"
                            alt="person1" class="rounded-circle" />
                        <div class="post-content-info">
                            <h4>Dr. Muhammed Sarya</h4>
                            <span>Dec 16,2020</span>
                            <p>Abilities forfeited situation extremely my to he
                                resembled. Old had conviction discretion
                                understood put principles you. Match means keeps
                                round one her quick. She forming two comfort
                                invited. Yet she income effect edward. Entire
                                desire way design few. Mrs sentiments led
                                solicitude estimating friendship fat. Meant
                                those event is weeks state it to or. Boy but has
                                folly charm there its. Its fact ten spot drew.</p>
                            <img class="my-3"
                                src="/assets/images/coronaPost.jpeg">
                            <i class="fa fa-heart"></i>
                            <label>19</label>
                            <a href="#">comments</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container centerBtn justify-content-center">
        <button class="ShowMore" type="submit">Show more</button>
    </div>
</section>

<app-footer></app-footer>


<ng-template #homeNumberTemplete>
    <div style="text-align: center;">
        <img class="mx-1"
            src="assets/images/rotaryPhone.png"
            style="width:23px; height:23px;" />
        {{hospitalInfoData.homeNumber}}
    </div>
</ng-template>