<section class="py-5 bg-voilet text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="#">
                <p>There are many variations of passages of Lorem Ipsum available, but the majo rity have suffered alteration</p>
                
            </div>
            <div class="col-md-3">
                <h4><b>Quick Links</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">How it works?</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Career</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4><b>Support</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">About Us</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Our Team</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Testimonials</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4><b>Contact Us</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">How it works?</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Career</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

