<!-- start navbar  -->
<app-navbar></app-navbar>
<!-- end navbar  -->
<section class="register">
  <div class="row p-0 m-0">
    <div class="container">
       <div class="col-lg-6">
        <div class="bgColor">
          <div class="bgColor-title">
            <img src="../../../assets/images/specalist.png"  id="iconImage"/>
            <h2>SYRIAN MEDICINE</h2>
          </div>
          <i class="fa fa-user-edit"></i>
          <span> REGISTER USER </span>
        </div>
       </div>
       <div class="col-lg-6 form-card">
           <div class="card">
             <div class="card-header">
               <a href="#">LOGIN</a>
               <a href="#">REGISTER</a>
           </div>
           <div class="card-body text-center">
             <form action="#" autocomplete="off">
                  <input type="text" placeholder="USER NAME"  name="userName" class="input_group"/>
                  <input type="password" placeholder="PASSWORD"  name="password" class="input_group"/>
                  <input type="text" placeholder="FIRST NAME"  name="firstName" class="input_group"/>
                  <input type="text" placeholder="LAST NAME"  name="lastName" class="input_group"/>
                  <input type="text" placeholder="PHONE NUMBER"  name="phoneNumber" class="input_group"/>
                  <button type="submit" class="Reg_btn"> REGISTER </button>
             </form>
           </div>
        </div>
       </div>
    </div>
  </div>
</section>
<!-- start footer -->

<app-footer></app-footer>
<!-- end footer -->
