<app-navbar></app-navbar>

<section>
    <div class="bootstrap">
        <div class="row">
            <div class="cover-photo">
                <div class="fb-timeline-img">
                    <img src="assets/images/doctorCover.jpg"
                        alt="">
                </div>
            </div>
            <div class="panel-body">
                <div class="profile-thumb">
                    <img
                        src="assets/images/doctor1.png"
                        alt="user image">
                </div>
                <div class="user-info">
                    <p>
                        <img class="mr-1" style="width: 32px; height:32px;"
                            src="assets/images/doctorIcon.png">
                        <a style="color: black;" href="#">Dr.
                            {{doctorInfoData.displayName}}</a>
                    </p>
                </div>
                <div class="rightItems" *ngIf="!isMyOwnProfile()">
                    <button class="followBtn mx-2" type="submit" (click)="openReserveDialog()">Reserve</button>
                    <button class="mx-1 followBtn" type="submit" *ngIf="!iFollowedThisUser" (click)="followUser()">Follow</button>
                    <button class="mx-1 followBtn" type="submit" *ngIf="iFollowedThisUser" (click)="unFollowUser()">UnFollow</button>
                </div>
                <div class="user-info2">
                    <p>
                        <i class="fa fa-map-marker-alt fa-1x"
                            style="color:gray;">
                        </i> {{doctorInfoData.city}} <img
                            src="assets/images/specalist.png"
                            style="width:23px; height:23px;" />
                        {{doctorInfoData.specialization}}
                        <i (click)="openTemplete(phoneNumberTemplete)"
                            class="mx-1 fa fa-phone fa-1x"
                            style="color:gray; cursor: pointer;">
                        </i>
                        <img class="mx-1"
                            (click)="openTemplete(homeNumberTemplete)"
                            src="assets/images/rotaryPhone.png"
                            style="width:23px; height:23px; cursor: pointer;" />
                        <img class="mx-1"
                            (click)="openTemplete(timeReserveTemplete)"
                            src="assets/images/reverseDate.png"
                            style="width:23px; height:23px; cursor: pointer;" />
                    </p>
                </div>
                <div class="user-info2">
                    <div *ngIf="doctorInfoData.workAtHome">
                        <p>
                            <img style="width: 28px; height:28px;"
                                src="assets/images/trueIcon.png">
                            Avilable for work at home
                        </p>
                    </div>

                    <div *ngIf="!doctorInfoData.workAtHome">
                        <p>
                            <img style="width: 28px; height:28px;"
                                src="assets/images/falseIcon.jpg">
                            Avilable for work at home
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearFloat"></div>
        </div>
    </div>


    <div>
        <div class="row justify-content-center">

            <div class="firstHr my-5" style="text-align: center;">
                <h2>About Me</h2>
                <hr />
                <p>
                    {{doctorInfoData.aboutMe}}
                </p>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                <app-rating></app-rating>
            </div>

        </div>
    </div>

</section>

<!-- start comments -->
<app-profile-comment-section></app-profile-comment-section>
<!-- end comments -->



<!-- start  posts -->
<section class="posts row justify-content-center">

    <!-- start post -->
    <div class="secondHr my-5" style="text-align: center;">
        <h2>Post</h2>
        <hr />
    </div>

    <!-- start post -->
    <div class="row hidden">
        <div class="col">
            <div class="container">
                <app-posts-section [loadefunc]="profilepostLoadfunc"></app-posts-section>
            </div>
        </div>
    </div>

 
</section>

<app-footer></app-footer>



<ng-template #phoneNumberTemplete>
    <div style="text-align: center;">
        <i class="mx-1 fa fa-phone fa-1x"
            style="color:gray;">
        </i> {{doctorInfoData.phoneNumber}}
    </div>
</ng-template>

<ng-template #homeNumberTemplete>
    <div style="text-align: center;">
        <img class="mx-1"
            src="assets/images/rotaryPhone.png"
            style="width:23px; height:23px;" />
        {{doctorInfoData.homeNumber}}
    </div>
</ng-template>

<ng-template #timeReserveTemplete>
    <div style="text-align: center;">
        <h1>Worktime</h1>
        <p>From {{startWorkTime}}</p>
        <p>To {{endWorkTime}}</p>
    </div>
</ng-template>