.card-password{
width: 600px;
}

@media screen and (max-width:600px){
  .card-password{
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@media screen and(min-width:600px)and(max-width:768px){
  .card-password{
    width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

@media screen and(min-width:768px)and(max-width:992px){
  .card-password{
      margin: auto;
      margin-top: 50px;
      margin-bottom: 100px;
  }
}

@media screen and(min-width:992px)and(max-width:1200px){
  .card-password{
    width: 600px;
      margin: 140px;
      margin-top: 50px;
  }
}

@media screen and(min-width:1200px){
  .card-password{
      margin: 200px;
      margin-top: 50px;
  }
}

.card-password .card-header{
  background-color: #305A72;
  color: #FFF;
  text-transform: capitalize;
  height: 60px;
  text-align: center;
}
.card-password .card-header h1 {
  margin-top: 4px;
  font-size: 20px;
}
.card-password .card-body .grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-password .card-body .grid-container .password-input span {
  padding-right: 10px;
  font-size: 16px;
}
.card-password .card-body .grid-container .password-input mat-label{
  color: #b4b4b4;
}

.card-password .card-body .grid-container #button{
  outline: none;
  border: 2px solid #42B0EF;
  background-color: #FFF;
  color: #42B0EF;
  padding: 15px 30px;
  font-style: normal;
  font-size: 16px;
  border-radius: 50px;
}
.card-password .card-body .grid-container #button:hover{
  background-color: #42B0EF;
  color: #FFF;
}
