<div class="change-info">
  <div class="row">
    <div class="container">
        <div class="card">
          <div class="card-header">
           <h1>Admin Information Refresh</h1>
          </div>
          <div class="card-body">
                <div class="inputsGroup">
                  <mat-form-field appearance="outline">
                    <mat-label> User Name</mat-label>
                    <input matInput placeholder="Please Enter Here ..">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Please Enter Here ..">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>

                  <button mat-button> OK </button>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>



