<div class="change-info">
  <div class="row">
    <div class="container">
        <div class="card">
          <div class="card-header">
           <h1>Admin Information Refresh</h1>
          </div>
          <div class="card-body">

            <form [formGroup]="adminForm" (ngSubmit)="onSubmit($event)" autocomplete="off">
                <div class="formGroup">
                  <span>Admin Name :</span>
                  <input type="text" placeholder="Your Name"
                    class="input_group "
                    name="admin_Name" id="admin_Name"
                    required
                    formControlName="adminName" />
                  </div>

                  <div class="formGroup">
                  <span> Admin Email :</span>
                  <input type="text" placeholder="example@email.com"
                  class="input_group "
                  name="admin_email" id="email"
                  required
                  formControlName="adminEmail" />
                </div>
                <div class="d-flex justify-content-center">

                  <button  type="submit" > OK </button>

                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <button *ngIf="!isUpdating" type="button"> OK </button>
  <button *ngIf="isUpdating" type="button" > <mat-spinner  diameter="20"  class=" d-inline-block  button-spinner"> </mat-spinner></button> -->
