
<section class="register">
    <div class="row p-0 m-0">
        <div class="d-flex container">
            <div class="col-lg-6">
                <div class="leftSide">
                    <div class="mt-5" style="text-align: center;">
                        <a class="logoLink" routerLink="/Main">SYRIAN MEDICINE</a>
                    </div>
                    <div>
                        <img class="registerImage" *ngIf="this.typeAccount ==1"
                            src="assets/images/sickRegister.png" alt="doctor
                            register image">
                        <img class="registerImage" *ngIf="this.typeAccount ==2"
                            src="assets/images/doctorRegister.png"
                            alt="doctor register image">
                        <img class="registerImage" *ngIf="this.typeAccount ==3"
                            src="assets/images/nurseRegister.png" 
                            alt="doctor register image">
                        <img class="registerImage" *ngIf="this.typeAccount ==4"
                            src="assets/images/hospitalRegister.png"

                            alt="doctor register image">
                    </div>
                    <div class="bottomText mt-2" style="text-align: center;">
                        <p style="color:#FFCC8F;">
                            © 2022 Syrian
                            Medicine. All
                            Rights
                            Reserved</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 form-card">
                <div class="mb-0" style="text-align: center;">
                    <a class="logoLink2" routerLink="/Main">SYRIAN MEDICINE</a>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a routerLink="/Login">LOGIN</a>
                        <a routerLink="/Register" class="focus">REGISTER</a>
                    </div>
                    <div class="card-body text-center">
                        <form action="#">
                            <select class="select_group"
                                (change)="selectOption($any($event.target).value)">
                                <option [value]="1">Sick</option>
                                <option [value]="2">Doctor</option>
                                <option [value]="3">Nurse</option>
                                <option [value]="4">Hospital</option>
                            </select>
                            <input type="text" placeholder="Username"
                                name="UserName" class="input_group" />
                            <input type="text" placeholder="Email"
                                name="Email" class="input_group" />
                            <input type="password" placeholder="Password"
                                name="password" class="input_group" />
                            <div class="mt-2 mb-4"
                                *ngIf="this.typeAccount !=1">
                                <label for="docs"
                                    class="custom-file-upload">
                                    Upload your Documents
                                </label>
                                <input id="docs" type="file" multiple/>
                            </div>
                            <button type="submit" class="register_btn">
                                REGISTER
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
